:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.asset-text-body {
  flex: 1 1 auto;
  display: flex;
  padding: 1.5rem;
}

.asset-text-area {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  resize: none;
  font-family: var(--bs-font-monospace);
}
